<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Educate Head Office</h3>
                <p>Grha Kreasi Bintang Edukasi – Jln. Alternatif Cibubur, Ruko Kranggan Permai RT. 16, No.
                    5,<br>Jatisampurna, Bekasi, Jawa Barat. 17435</p>
            </div>
            <div class="footer-section">
                <h3>Program Educate</h3>
                <ul>
                    <li>Persiapan Masuk Kedokteran</li>
                    <li>Persiapan Masuk PTN Favorit</li>
                    <li>Persiapan Masuk PTN Favorit</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Educate</h3>
                <ul>
                    <li><a href="/tentang-kami/">Tentang Kami</a></li>
                    <li><a href="/kontak-kami/">Kontak Kami</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Hubungi Kami</h3>
                <ul>
                    <li><i class="fas fa-envelope"></i> info@educate.co.id</li>
                    <li><i class="fab fa-whatsapp"></i> +62 813-8280-1260</li>
                </ul>
                <div style="margin-top:2rem;"></div>
                <h3>Ikuti Kami</h3>
                <div class="social-links">
                    <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2025 Educate | Nakama Digital Media | Semua Hak Dilindungi
    </div>
</footer>