<header class="header">
    <nav class="navbar">
        <div class="container header-flex">
            <div class="nav-brand">
                <a href="/" class="logo-link">
                    <img src="/images/logo.webp" alt="Educate Logo" class="logo-img">
                </a>
            </div>

            <ul class="nav-menu" >
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">Program <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/bimbel-spesialis-kedokteran/" class="dropdown-card card-blue">
                                <h4>Persiapan Masuk Kedokteran</h4>
                                <p>Program spesialis lulus seleksi program studi Kedokteran</p>
                            </a>
                        </li>
                        <li>
                            <a href="/lolos-ptn-favorit/" class="dropdown-card card-yellow">
                                <h4>Persiapan Masuk PTN Favorit</h4>
                                <p>Program spesialis lulus seleksi program studi Kedokteran</p>
                            </a>
                        </li>
                        <li>
                            <a href="#sma" class="dropdown-card card-orange">
                                <h4>Persiapan Masuk SMA Favorit</h4>
                                <p>Program spesialis lulus seleksi program studi Kedokteran</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="/tentang-kami/" class="nav-link">Tentang Kami</a></li>
                <li><a href="/blogs/" class="nav-link">Blog</a></li>
            </ul>

            <a href="/kontak-kami/" class="btn btn-kontak btn-kontak-desktop">Kontak Kami</a>
            <!-- <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div> -->
        </div>
    </nav>
</header>